/* ======================================================ПІДКЛЮЧЕННЯ ШРИФТІВ====================================================== */
@font-face {
   font-family: "Helvetica Neue";
   src: local("Helvetica Neue Medium"), local("Helvetica-Neue-Medium"),
      url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"),
      url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"),
      url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: "Helvetica Neue";
   src: local("Helvetica Neue Bold"), local("Helvetica-Neue-Bold"),
      url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"),
      url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"),
      url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: "Helvetica Neue";
   src: local("Helvetica Neue Roman"), local("Helvetica-Neue-Roman"),
      url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"),
      url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"),
      url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
}

.header__col2 {
   position: relative;
}
.header__col2-search {
   position: absolute;
   top: 10px;
   left: 60px;
}
.header__search {
   width: 216px;

   height: 29px;
   text-align: center;
   font-family: "Helvetica Neue";
   font-weight: 400;
   font-style: normal;
   font-size: 14px;
   line-height: 17px;
   color: #8f8f8f;
}
.burger {
   display: block;
   position: relative;
   width: 20px;
   height: 10px;
}
.burger::before,
.burger::after {
   content: "";
   background: #000;
   position: absolute;
   width: 4px;
   height: 4px;
   border-radius: 50%;
   right: 0;
}
.burger::before {
   top: -5px;
}
.burger::after {
   bottom: -5px;
}
.burger__line {
   position: absolute;
   background: #000;
   right: 0;
   width: 4px;
   height: 4px;
   border-radius: 50%;
   top: 3px;
}
.bell {
   position: relative;
}
.bell img {
   position: absolute;
   top: -16px;
   right: 5px;
}
.burger__menu {
   position: fixed;
   bottom: -100%;
   background: gray;
   width: 100%;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   transition: all 0.3s linear;
   z-index: 50;
}
.burger__menu ul {
   text-decoration: none;
   list-style-type: none;
}
.burger__menu li {
   margin-top: 15px;
}
.burger__menu a {
   text-decoration: none;
   font-family: "Helvetica Neue";
   font-weight: 400;
   color: white;
}
.burger__menu.active {
   bottom: 0px;
}
.bell__menu {
   position: fixed;
   bottom: -100%;
   height: 296px;
   background: gray;
   width: 100%;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   transition: all 0.3s linear;
   z-index: 50;
}
.bell__menu-text {
   color: white;
}
.bell__menu p {
   text-align: center;
   color: white;
}
.bell__menu-label {
   position: relative;
}
.bell__menu-chek {
   position: absolute;
   top: 48px;
   right: 10px;
}
.bell__menu-chek1 {
   position: absolute;
   top: 90px;
   right: 10px;
}
.bell__menu-chek2 {
   position: absolute;
   top: 132px;
   right: 10px;
}
.bell__menu-chek3 {
   position: absolute;
   top: 180px;
   right: 10px;
}
.bell__menu.active {
   bottom: 0;
}

@media (max-width: 992px) {
   .main__container {
      margin: 0;
      padding: 0;
   }
}
.main__user-date-foto {
   width: 100%;
   max-width: 154px;
}
.main__user-date-row {
   flex: 0 1 50%;
   align-self: start;
}
.main__content-user-data {
   display: flex;
   justify-content: center;
   flex-direction: column;
}
.main__content-user-data-row1 {
   width: 100%;
   align-items: center;
}
.main__content-user-data-row2 {
   width: 100%;
   max-width: 364px;
   margin: 21px 0px 42px 0px;
}
.main__content-user-data-text {
   font-family: "Helvetica Neue";
   font-weight: 500;
   font-size: 17px;
   line-height: 21px;
   color: #262626;
}
.main__content-user-data-row3-name {
   font-family: "Helvetica Neue";
   font-weight: 500;
   font-size: 17px;
   line-height: 21px;
   color: #262626;
}
.main__content-user-data-row3-text {
   font-family: "Helvetica Neue";
   font-weight: normal;
   font-size: 17px;
   line-height: 25px;
   color: #262626;
   width: 100%;
   max-width: 550px;
}
.main__content-user-data-row3-link {
   font-family: Helvetica Neue;
   font-weight: 500;
   font-size: 17px;
   line-height: 21px;
   color: #133768;
}
.main__user-date {
   margin-bottom: 56px;
}
.main__user-date-row {
   flex: 1 1 auto;
}
.main__content-usermane {
   font-family: "Helvetica Neue";
   font-weight: 500;
   font-size: 25px;
   line-height: 24px;
   color: #262626;
   margin-right: 26px;
}
.button__follow {
   padding: 0;
   width: 100%;
   max-width: 97px;
   height: 29px;
   margin-right: 8px;
}
.button__row {
   width: 100%;
   max-width: 33px;
   height: 29px;
   position: relative;
   padding: 0;
   margin-right: 32px;
}
.main__row {
   width: 0;
   height: 0;
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   border-top: 5px solid white;
   position: absolute;
   top: 12px;
   left: 10px;
}
.main__circle {
   position: relative;
}
.main__circle span {
   width: 5px;
   height: 5px;
   background: #000;
   border-radius: 50%;
   display: block;
}
.main__circle::after,
.main__circle::before {
   content: "";
   width: 5px;
   height: 5px;
   background: #000;
   display: block;
   border-radius: 50%;
   position: absolute;
}
.main__circle::after {
   top: 0;
   left: 10px;
}
.main__circle::before {
   top: 0;
   left: 20px;
}

@media (max-width: 575px) {
   .main {
      position: relative;
   }

   .main__content-user-data-row1 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-self: center;
      text-align: center;
   }
   .main__content-usermane {
      flex: 0 1 20%;
      order: 1;
      margin-bottom: 15px;
   }
   .button__follow {
      flex: 1 1 50%;
      order: 3;
      width: 100%;
      max-width: 200px;
   }
   .button__row {
      flex: 0 1 50%;
      order: 4;
   }
   .main__circle {
      flex: 0 1 45%;
      order: 2;
      margin-bottom: 15px;
   }
   .main__content-user-data-text {
      font-size: 14px;
   }
}
.main__user-collection-foto-border {
   border-radius: 50%;
   border: 4px solid #dbdbdb;
   box-sizing: border-box;
}
.main__user-collection {
   margin-bottom: 87px;
}
.main__user-collection-name {
   font-family: Helvetica Neue;
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 17px;
   padding-top: 11px;
   padding-right: 20px;
   padding-left: 20px;
   color: #262626;
}
.main__user-collection-foto {
   max-width: 150px;
   cursor: pointer;
}
@media (max-width: 772px) {
   .main__user-collection-row {
      display: flex;
      justify-content: space-between;
   }
   .main__user-collection-foto {
      display: flex;
      flex-direction: column;
      flex: 1 0 50%;
      text-align: center;
      max-width: 79px;
   }
   .main__user-collection-name {
      padding-top: 15px;
      padding-right: 0px;
      padding-left: 0px;
   }
}

.main__user-category-name {
   font-family: Helvetica Neue;
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   line-height: 15px;
   letter-spacing: 0.09em;
   color: #8f8f8f;
   position: relative;
   cursor: pointer;
}
.main__user-category-name::after {
   content: "";
   width: 100%;
   height: 1px;
   background: #000;
   display: block;
   position: absolute;
   top: -8px;
   left: 0;
   opacity: 0;
}
.main__user-category-name.active::after {
   opacity: 1;
}

@media (max-width: 768px) {
   .main__user-category-row {
      display: flex;
      flex: 1 1 50%;
      padding-top: 7px;
      align-items: center;
   }
   .main__user-category-col {
      display: flex;
      align-items: center;
      margin-right: 20px;
   }
   .main__user-category-col img {
      margin-right: 10px;
   }
}
.footer-row {
   display: flex;
   flex: 0 0 auto;
   text-align: center;
}
.footer-col {
   cursor: pointer;
}
.footer__year-row {
   display: flex;
   justify-content: center;
}
.footer__year-row-col {
   display: flex;

   justify-content: center;
}
.gallery {
   margin-bottom: 30px;
}
.gallery-img {
   position: relative;
   z-index: 4;
}
@media (max-width: 992px) {
   .footer__year-row-col {
      width: 100%;
   }
}
.gallery-img::after {
   content: "";
   width: 100%;
   height: 100%;
   background: url(../img/gallery/like_favorite_heart_5759.png) 140px no-repeat,
      url(../img/gallery/comment_120216.png) 220px no-repeat, rgba(248, 242, 242, 0.486);
   display: block;
   z-index: 2;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
}
.gallery-img:hover::after {
   opacity: 1;
}
.gallery-row {
   margin-bottom: 25px;
}
.gallery-col {
   padding-right: 25px;
   padding-left: 25;
}
@media (max-width: 686px) {
   .gallery-row {
      margin-bottom: 10px;
   }
   .gallery-col {
      padding-right: 10px;
      padding-left: 10;
   }
}
