@charset "UTF-8";
@font-face {
  font-family: "HelveticaNeueBlack";
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Black.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
