@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&family=Roboto:wght@400;500;700;900&display=swap");
@import "bigButtonsDownload";
@import "buttonLink";
@import "buttonTab";
@import "buttonSize";
@import "smallButtons";
@import "buttonTabSmall";
@import "buttonSearchSmall";
@import "buttonSearchLinks";
@import "buttonsSizeSmall";
@import "buttonTag";

.wrapper {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
}
